html {
  font-family: 'Roboto', sans-serif;
}

body {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}

li {
  display: block;
}

h5 {
  font-size: 40px;
  font-weight: 700;
}

.food-list {
  list-style-type: none;
  margin-top: 140px;
}

.btn-primary {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 5px;
}

#navbarSupportedContent {
  margin: 0 auto;
  text-align: left;
}
